<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.js"></script>
    <title>VueJS</title>
    <style></style>
</head>
<body>
    <div id="app" >
        <!-- Inserindo valores para cadastramento de paciente. -->
        <h4>Adicionar paciente</h4>
        <span>Nome: </span><input type="text" id="inputNome"><br>
        <span>Idade: </span><input type="text" id="inputIdade"><br>
        <span>Plano: </span><input type="text" id="inputPlano"><br>

        <!-- usando o método(@click="adicionarPaciente()") para fazer o envio dos dados por push. -->
        <br><button @click="adicionarPaciente()">Adicionar</button>
        <hr>
        <h4>Último paciente cadastrado</h4>
        <!-- Adicionando condições para visualização dos dados do último cadastro.
            OBS: sem esta consição(v-if), não iria aparecer nada no browser, pois não averia informações para serem "expostas". -->
        <p v-if="pacientes.length > 0">
            Paciente: {{ pacientes[pacientes.length - 1].nome }}
            Idade: {{ pacientes[pacientes.length - 1].idade }}
            Plano: {{ pacientes[pacientes.length - 1].plano }}
        </p>
        <hr>
        <h4>Pacientes do plano Ouro</h4>
        <!-- Utilizando (v-for) para repetir os pacientes, porém com a mudança na questão de exibição do paciente.
            Entre o doublemustache({{}}) foi feito uma condição, selecionando apénas aqueles que possuem o plano Ouro. -->
        <p v-for="p in pacientes">{{ p.plano == 'Ouro' ? p.nome : '' }}</p>
        <hr>


        <h4>Pacientes cadastrados</h4>
        <!-- v-for="p in pacientes" utilizado para repitir informações, neste caso a informação exibida é o (nome) do paciente -->
        <p v-for="p in pacientes">{{p.nome}}</p>
    </div>
    <script>
        const vm = new Vue({ 
            el: '#app', 
            data: {
                // Feito um array para guardar informações dos pacientes que estão sendo cadastrados.
                pacientes:[]
            },
            methods: {
                // Utilizando o método para envio de informações do paciente para o (pacientes) encontrado no (data).
                adicionarPaciente(){
                    this.pacientes.push({
                        nome: inputNome.value,
                        idade: inputIdade.value,
                        plano: inputPlano.value
                    })
                }
            }
        })
    </script>
</body>
</html>